{
  "FILENAME": "kconfig-6.9.0-1-aarch64.pkg.tar.zst",
  "NAME": "kconfig",
  "BASE": "kconfig",
  "VERSION": "6.9.0-1",
  "DESC": "Configuration system",
  "GROUPS": "kf6",
  "CSIZE": "553516",
  "ISIZE": "2229488",
  "MD5SUM": "305e878a260f494b5e9e24969accb6d0",
  "SHA256SUM": "0a1960b1cf94ab96de42ec854ae4ca78fb84519de7588da4fb720c3259917b8f",
  "PGPSIG": "iF4EABYCAAYFAmdgTWYACgkQw1jnDXfq/1QoaAEAsm30okQMnFplDp7HNGKuPLWv9eyJQlqbccxh4mWsoWUBAIFEzNaiEA0zhdqGKJTrU0/d6c3PeSZ4WJLWs4BDGV4B",
  "URL": "https://community.kde.org/Frameworks",
  "LICENSE": [
    "LGPL-2.0-only",
    "LGPL-3.0-only"
  ],
  "ARCH": "aarch64",
  "BUILDDATE": "1734364699",
  "PACKAGER": "venus <venus@workers.os-build.ewe.moe>",
  "DEPENDS": [
    "qt6-base",
    "qt6-declarative"
  ],
  "REPO": "main"
}
