{ "Repository": "main", "Name": "kconfigwidgets", "Version": "6.6.0-1", "Description": "Widgets for KConfig", "Architecture": "riscv64", "URL": "https://community.kde.org/Frameworks", "Licenses": "LGPL-2.0-only LGPL-3.0-only", "Groups": "kf6", "Provides": "None", "Depends On": "kcodecs kcolorscheme kconfig kcoreaddons ki18n kwidgetsaddons qt6-base", "Optional Deps": "None", "Required By": "kbookmarks kcmutils kdenlive kiconthemes kio konversation ktextwidgets kxmlgui", "Optional For": "None", "Conflicts With": "None", "Replaces": "None", "Download Size": "380.47 KiB", "Installed Size": "1230.97 KiB", "Packager": "visionfive2-1 <visionfive2-1@workers.os-build.ewe.moe>", "Build Date": "Thu Oct 17 06:44:59 2024", "MD5 Sum": "56e83763c2eded729e2e8b2b095c9b76", "SHA-256 Sum": "e55d21602029b9bb37ee2b136a4ac77447239dd5415ebe166af490dfb412b0ad", "Signatures": "C358E70D77EAFF54", "Extended Data": "None" }
