{
  "FILENAME": "kconfigwidgets-6.9.0-1-loongarch64.pkg.tar.zst",
  "NAME": "kconfigwidgets",
  "BASE": "kconfigwidgets",
  "VERSION": "6.9.0-1",
  "DESC": "Widgets for KConfig",
  "GROUPS": "kf6",
  "CSIZE": "383455",
  "ISIZE": "1291543",
  "MD5SUM": "d1da0398b35ddab49c4bf62dbafe16a8",
  "SHA256SUM": "5f2beddcfecca0cb2aad0810d4bb1c4bca711cb851bcd693bf329b8d54ef383e",
  "PGPSIG": "iF4EABYCAAYFAmdgUNoACgkQw1jnDXfq/1S5VQEA1HYBMzYV02qBZrwP1KKrI7kTj3YKnv+VVeufk4JaCNIBAMD19WMoM1Z3mBorWnt0H8FMP4x346JXI+jaKWIG3r8G",
  "URL": "https://community.kde.org/Frameworks",
  "LICENSE": [
    "LGPL-2.0-only",
    "LGPL-3.0-only"
  ],
  "ARCH": "loongarch64",
  "BUILDDATE": "1734365619",
  "PACKAGER": "eweos-loong64-3a6000worker1 <eweos-loong64-3a6000worker1@workers.os-build.ewe.moe>",
  "DEPENDS": [
    "kcodecs",
    "kcolorscheme",
    "kconfig",
    "kcoreaddons",
    "ki18n",
    "kwidgetsaddons",
    "qt6-base"
  ],
  "REPO": "main"
}
