{
  "FILENAME": "kconfig-6.26.0-1-loongarch64.pkg.tar.zst",
  "NAME": "kconfig",
  "BASE": "kconfig",
  "VERSION": "6.26.0-1",
  "DESC": "Configuration system",
  "GROUPS": [
    "kf6"
  ],
  "CSIZE": "527103",
  "ISIZE": "2298790",
  "MD5SUM": "df7b4f16d1c343e3f458fd107690641b",
  "SHA256SUM": "b1f666e93ac994d94f638f9a705cc2bc971291f4d2e1bbb181aba235b956476c",
  "PGPSIG": "iHUEABYCAB0WIQRMXo0KXwPHuyFNJ/jDWOcNd+r/VAUCaipsOgAKCRDDWOcNd+r/VJqIAQDI16wkgFJW3O9ovQ0pH5tg27tngb3VYAQxRa9GoSmkjQD/YAEg7XPxRlFtg921JV4Fa72CtL1S2MovfDgrhsrw8gA=",
  "URL": "https://community.kde.org/Frameworks",
  "LICENSE": [
    "LGPL-2.0-only",
    "LGPL-3.0-only"
  ],
  "ARCH": "loongarch64",
  "BUILDDATE": "1781165040",
  "PACKAGER": "eweos-loong64-3a6000worker1 <abuild@eweos-loong64-3a6000worker1>",
  "DEPENDS": [
    "qt6-base",
    "qt6-declarative"
  ],
  "MAKEDEPENDS": [
    "extra-cmake-modules",
    "qt6-tools"
  ],
  "REPO": "main"
}
