{
  "FILENAME": "kconfigwidgets-6.9.0-1-aarch64.pkg.tar.zst",
  "NAME": "kconfigwidgets",
  "BASE": "kconfigwidgets",
  "VERSION": "6.9.0-1",
  "DESC": "Widgets for KConfig",
  "GROUPS": "kf6",
  "CSIZE": "399987",
  "ISIZE": "1307031",
  "MD5SUM": "2c2227e5b8bf032127d78165df209f5e",
  "SHA256SUM": "732852cf378c4ed893f012d3a024e97bf5bf3ec3d8f12c32a4320e78a75c688f",
  "PGPSIG": "iF4EABYCAAYFAmdgUOUACgkQw1jnDXfq/1SBlQD8DtrWsSsyRXklAaSfJUT0D3UkOyKc/lpSS4s7NoTW25YA/2WqBAGkAd6F3uaNL+3a1ayANyAlWIoQEZ5MtDLIQGwG",
  "URL": "https://community.kde.org/Frameworks",
  "LICENSE": [
    "LGPL-2.0-only",
    "LGPL-3.0-only"
  ],
  "ARCH": "aarch64",
  "BUILDDATE": "1734365625",
  "PACKAGER": "venus <venus@workers.os-build.ewe.moe>",
  "DEPENDS": [
    "kcodecs",
    "kcolorscheme",
    "kconfig",
    "kcoreaddons",
    "ki18n",
    "kwidgetsaddons",
    "qt6-base"
  ],
  "REPO": "main"
}
