{
  "FILENAME": "kconfig-6.15.0-1-x86_64.pkg.tar.zst",
  "NAME": "kconfig",
  "BASE": "kconfig",
  "VERSION": "6.15.0-1",
  "DESC": "Configuration system",
  "GROUPS": "kf6",
  "CSIZE": "561154",
  "ISIZE": "2169864",
  "MD5SUM": "ac8d2ff43af3019a6f45390d2d824403",
  "SHA256SUM": "d041112463ab88978d956a64f6dc43163b75c650da1d76cb18f38470d7b300d1",
  "PGPSIG": "iF4EABYCAAYFAmhbxcgACgkQw1jnDXfq/1T+FwEA4t4cm60quqanFcpj6PsCdBh5g7s2U2mQw+rtMhGz1mwA/i5juCfGQNc5Y6FnrjEnF9QRTyapWqyC2EzYIT4YTgYD",
  "URL": "https://community.kde.org/Frameworks",
  "LICENSE": [
    "LGPL-2.0-only",
    "LGPL-3.0-only"
  ],
  "ARCH": "x86_64",
  "BUILDDATE": "1750845315",
  "PACKAGER": "eweos-x8664-worker2 <eweos-x8664-worker2@workers.os-build.ewe.moe>",
  "DEPENDS": [
    "qt6-base",
    "qt6-declarative"
  ],
  "MAKEDEPENDS": [
    "extra-cmake-modules",
    "qt6-tools"
  ],
  "REPO": "main"
}
